 * { margin: 0; padding : 0; }

*, *:before,*:after{
	box-sizing: border-box;
}

body{
  background-color: white;
}

.header {
  width: auto;
  background-color: black;
  color:white;
}

.box{
	position: relative;
	margin:10px;
	border: purple solid 2px;
	width: 100%;
	height: 100%;
	background-color: transparent;
}
.box-content{
	margin: 10px;
}
.box-title-left{
	padding: 0 4px;
	font-size: 14px;
	background-color: white;
	color: purple;
	/*width: fit-content;*/
	margin-left: 15px;
	margin-top:-8px;
}

.box-title-right{
	position: absolute;
	right: 0;
	top:0;
	padding: 0 4px;
	font-size: 14px;
	background-color: white;
	color: purple;
	/*width: fit-content;*/
	margin-right: 15px;
	margin-top:-8px;
}

.box-title-center{
	position: absolute;
	left:33%;
	top:0;
	padding: 0 4px;
	font-size: 14px;
	background-color: white;
	color: purple;
	/*width: fit-content;*/
	margin-top:-8px;
}


.center{
	text-align: center;
}
.center-block{
	margin:0 auto;
	text-align: center;
	align-content: center;
}
.right{
	float: right;
}
.left{
	float: left;
}

.header li{
	margin: 0;
	padding: 0;
	display: inline-block;
	padding:10px;
}

.half{
	width: 50%;
	background-color: orange;
	outline: 1px solid black;
    outline-offset: -1px;
}
.third{
	width: 33.3%;
	background-color: yellow;
	outline: 1px solid black;
    outline-offset: -1px;

}
.main{
	width: 70%;
	background-color: red;
}
.sub-main{
	width: 30%;
	background-color:green;
}
.little{
	width: 15%;
	background-color: blue;
}